
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Navigation */
header{
    background-color: #ffffff;
}
.logo{
    height: 60px;
    width: 140px;
}
nav{
    background-color: #ffffff;
    display: flex;
    margin: auto; 
    justify-content: space-between;
    text-align: center;
    padding: 15px 60px;
    list-style-type: none;
    align-items: center;
}
nav ul{
    text-align: center;
    list-style: none;
    display: flex;
    gap: 30px;
    margin: auto;
}
nav a{
    text-decoration: none;
    color: #333;
    font-weight: 500;
}
nav .btn{
    border: none;
    border-radius: 5px;
    background-color: #30b868;
    color: white;
    font-size: 18px;
    padding: 12px 16px 12px 16px;
    gap: 10px;
    cursor: pointer;
}

/* Banner */

.container{
    position: relative;
    width: 100%;
   
}

.container img{
    width: 100%;
    object-fit: cover;
    display: block;
}
.text button{
    position: absolute;
    align-items: center;
    top: 26%;
    left: 45%;
    display: flex;
    gap: 6px;
    padding: 8px 12px 8px 12px;
    border-radius: 100px;
    width: 200px;
    height: 35px;
}
.one{
    position: absolute;
    text-align: center;
    width: 700px;
    top: 30%;
    color: white;
    left: 30%;
    right: 30%;
    font-size: 65px;
    line-height: 86px;
}
.two{
    position: absolute;
    line-height: 24px;
    top: 60%;
    color: white;
    left: 34%;
    right: 28%;
    display: block;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
}
#button .left{
    position: absolute;
    border: none;
    display: flex;
    border-radius: 4px;
    background-color: #30b868;
    color: white;
    top: 70%;
    left: 37%;
    font-size: 18px;
    padding: 12px 16px 12px 16px;
    gap: 10px;
    cursor: pointer;
}
#button .right{
    position: absolute;
    color: white;
    border: 1px solid;
    background-color: transparent;
    border-radius: 4px;
    top: 70%;
    left: 55%;
    font-size: 18px;
    padding: 12px 16px 12px 16px;
    gap: 10px;
    cursor: pointer;
}

/* notes-section */


#main h2{
    display: block;
    text-align: center;
    padding-top: 30px;
    font-size: 40px;
}
#main p{
    display: block;
    text-align: center;
    padding-top: 5px;
    font-size: 12px;
}

#notes{
    padding: 30px;
    align-items: center;
    display: flex;
    text-align: center;
}

 #notes .notes-box {
    display: flex;
    gap: 190px;
    padding: 50px;
    height: 130px;
    font-size: 13px;
    margin: 0 auto;
 }
 #notes .notes-box .notes-card {
    box-shadow: 0 0 8px 0;

 }

  #notes .notes-box {
    padding-top: 30px;
  }
 
.notes-card img{
    background-color: #f95555;
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 20px;
  }
  .notes-card h3{
    font-size: 20px;
   margin-bottom: 20px;
  }
    .notes-card p{
    font-size: 13px;
  }

  /* brain-section*/
  

#brain {
 display: flex;
 padding-top: 120px;
 margin-top: 100px;
 text-align: justify;
 margin-left: auto;

}

#brain .subtitle{
color: green;
display: flex;
justify-content: right;
text-align: justify;
margin-top: 100px;
font-size: 16px;
padding-right: 445px;

}

#brain .right h1{
display: flex;
justify-content: right;
text-align: justify;
font-size: 55px;
margin-top: 20px;
margin-left: 100px;

}

#brain .description {
display: flex;  
text-align: justify;
align-items: center;
margin-top: 48px;
margin-left: 100px;
max-height: 10px;
max-width: 500px;
font-size: 16px;
}


#brain ul {
    display: block;
    text-align: justify;
    align-items: center;
    margin-left: 100px;
    margin-top: 80px;
    list-style-type: none;
    font-size: 16px;
}

.features img{
    margin-top: auto;
    width: 14px;
    height: 14px;
    
}


#brain .images{
    max-height: 30%;
    max-width: 700px;
    float: left;
}

/* early-acces-section */


#challenge-part {
    background-color: #F7F6F2;
    padding-top: 40px;
    padding-bottom: 50px;
    padding-left: 120px;
    padding-right: 120px;
    margin: 50px;
    
}
#challenge-part h1{
    display: flex;
    font-size: 55px;
    margin-top: 30px;
    text-align: center;
    justify-content: center;

}
#challenge-part p{
    display: flex;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    padding: 10px;
    padding-left: 220px;
    padding-right: 220px;
}
#challenge-part .btnn{
    
    border: none;
    display: flex;
    border-radius: 4px;
    background-color: #30b868;
    color: white;
    margin-left: 40%;
    margin-top: 20px;
    font-size: 20px;
    padding: 12px 16px 12px 16px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}
.bellow-button{
    text-align: center;
    justify-content: center;
    font-size: 20px;
    margin-top: 20px;
}