
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Navigation */
header{
    background-color: #ffffff;
}
.logo{
    height: 60px;
    width: 140px;
}
nav{
    background-color: #ffffff;
    display: flex;
    margin: auto; 
    justify-content: space-between;
    text-align: center;
    padding: 15px 60px;
    list-style-type: none;
    align-items: center;
}
nav ul{
    text-align: center;
    list-style: none;
    display: flex;
    gap: 30px;
    margin: auto;
}
nav a{
    text-decoration: none;
    color: #333;
    font-weight: 500;
}
nav .btn{
    border: none;
    border-radius: 5px;
    background-color: #30b868;
    color: white;
    font-size: 18px;
    padding: 12px 16px 12px 16px;
    gap: 10px;
    cursor: pointer;
}